Random forest classifier using GridSerachCV and RandomisedSerachCV

In [3]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [4]:
data= pd.read_csv('C:/Users/deepa_atj5xcu/Documents/FRANKFURT UNIVERISTY OF APPLIED SCIENCES/Work/heart.csv')

In [5]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
#get the target data
y=data['target']

In [7]:
#get the x variables into pada dataframe 
x= data.drop(['target'],axis=1)

In [8]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [9]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [10]:
#dividing the data into Train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=101)

In [ ]:
#building random forest model with hyperparameters

In [11]:
n_estimators= [int(z) for z in np.linspace(start=10,stop=80,num=10)]

In [12]:
max_features= ['auto','sqrt']
max_depth=[2,4]
min_samples_split=[2,5]
min_samples_leaf=[1,2]
bootstrap=[True,False]

In [13]:
#Creating the dictionary param_grid
param_grid={'n_estimators': n_estimators,
           'max_features':max_features,
           'max_depth':max_depth,
           'min_samples_split':min_samples_split,
           'min_samples_leaf':min_samples_leaf,
           'bootstrap':bootstrap}

In [14]:
print(param_grid)

{'n_estimators': [10, 17, 25, 33, 41, 48, 56, 64, 72, 80], 'max_features': ['auto', 'sqrt'], 'max_depth': [2, 4], 'min_samples_split': [2, 5], 'min_samples_leaf': [1, 2], 'bootstrap': [True, False]}

In [15]:
#Creating the instance of randomforest wihtout any parameters
rf_model=RandomForestClassifier()

In [16]:
#GridSearchCV, creating an instance of GridSerachCV with the randomforest model with 10 folds
from sklearn.model_selection import GridSearchCV
rf_grid= GridSearchCV(estimator= rf_model, param_grid= param_grid,cv=10,verbose=2,n_jobs=4)

In [17]:
rf_grid.fit(x_train,y_train)

Fitting 10 folds for each of 320 candidates, totalling 3200 fits

GridSearchCV(cv=10, estimator=RandomForestClassifier(), n_jobs=4,
             param_grid={'bootstrap': [True, False], 'max_depth': [2, 4],
                         'max_features': ['auto', 'sqrt'],
                         'min_samples_leaf': [1, 2],
                         'min_samples_split': [2, 5],
                         'n_estimators': [10, 17, 25, 33, 41, 48, 56, 64, 72,
                                          80]},
             verbose=2)

In [18]:
#best combination of parameters using GridSerachCV
rf_grid.best_params_

{'bootstrap': False,
 'max_depth': 2,
 'max_features': 'auto',
 'min_samples_leaf': 2,
 'min_samples_split': 2,
 'n_estimators': 10}

In [19]:
#Creating RandomizedSearchCV
from sklearn.model_selection import RandomizedSearchCV
rf_random=RandomizedSearchCV(estimator=rf_model,param_distributions=param_grid, cv=10,verbose=2,n_jobs=4)

In [21]:
rf_random.fit(x_train,y_train)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

RandomizedSearchCV(cv=10, estimator=RandomForestClassifier(), n_jobs=4,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [2, 4],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2],
                                        'min_samples_split': [2, 5],
                                        'n_estimators': [10, 17, 25, 33, 41, 48,
                                                         56, 64, 72, 80]},
                   verbose=2)

In [22]:
#best combination of parameters using RandomizedSearchCV
rf_random.best_params_

{'n_estimators': 10,
 'min_samples_split': 5,
 'min_samples_leaf': 2,
 'max_features': 'auto',
 'max_depth': 2,
 'bootstrap': True}

In [31]:
predict_grid= rf_grid.predict(x_test)

In [32]:
predict_random= rf_random.predict(x_test)

In [34]:
#confusion matrix for randomforest with GridSearchCV
from sklearn.metrics import confusion_matrix
conf_mat = confusion_matrix(y_test, predict_grid)
print(conf_mat)

[[22  9]
 [ 4 26]]

In [35]:
#confusion matrix for randomforest with RandomizedSearchCV
conf_mat = confusion_matrix(y_test, predict_random)
print(conf_mat)

[[25  6]
 [ 2 28]]

In [29]:
#Checking the Accuracy of training and testing wrt GridSearchCV
print(rf_grid.score(x_train,y_train))
print(rf_grid.score(x_test,y_test))

0.8471074380165289
0.7868852459016393

In [30]:
#Checking the Accuracy of training and testing wrt RandomizedSearchCV
print(rf_random.score(x_train,y_train))
print(rf_random.score(x_test,y_test))

0.8223140495867769
0.8688524590163934

In [ ]:
# RandomizedSearchCV model gave better confusion matrix and accuarcy compared to GridSearchCV 
# GridSearchCV model is also overfitted (due to large difference between train and test accuracy)